{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    <form action="/buy" method="POST">
        Enter a stock's symbol which you would like to buy <br>
        <br>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock symbol" type="text"/>
        </div>
        Enter the number of shares you would like to buy <br>
        <br>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Number of shares" type="number" step="any"/>
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>

{% endblock %}